<app-nav></app-nav>
<p class = titulo>Servicios ofrecidos por la clinica</p>

<div class="container" *ngFor="let servicio of servicios">

    <div class="tipoServicio">
        <p class = caracteristicas>Nombre del Servicio: </p>
        <td  class = info> {{servicio.serviceName}}</td>
    </div>

    <div class="tipoAnimal">
        <p class = caracteristicas>Tipo de Animal: </p>
        <td  class = info>  {{servicio.animalType}}</td>
    </div>
    
    <div class="Descripcion">
        <p class = caracteristicasDesc>Descripcion:</p>
        <td class = infoDesc> {{servicio.description}}</td>
    </div>

    <div class="Precio">
        <p class = caracteristicas>Precio:</p>
        <td  class = info> {{servicio.cost}} €</td>
    </div>

  </div>


  <button class = boton onclick="location.href='http://localhost:4200/addServicios'" type="submit">Añadir nuevo servicio</button>

