<app-nav></app-nav>
<p class = titulo>Historiales de servicios</p>

<div class="container" *ngFor="let servicio of servicios">

    <div class="tipoServicio">
        <p class = caracteristicas>Tipo Servicio: </p>
        <td  class = info> {{servicio.tipoServicio}}</td>
    </div>

    <div class="tipoAnimal">
        <p class = caracteristicas>Animal: </p>
        <td  class = info>  {{servicio.animal}}</td>
    </div>

    <div class="nombreAnimal">
        <p class = caracteristicas>Nombre animal:</p>
        <td  class = info> {{servicio.nameAnimal}}</td>
    </div>

    <div class="idAnimal">
        <p class = caracteristicas>Id del animal:</p>
        <td  class = info> {{servicio.idAnimal}}</td>
    </div>

    <div class="Descripcion">
        <p class = caracteristicasDesc>Descripcion:</p>
        <td class = infoDesc> {{servicio.descripcion}}</td>
    </div>

    <div class="Precio">
        <p class = caracteristicas>Precio:</p>
        <td  class = info> {{servicio.precio}}</td>
    </div>

  </div>


  <button class = boton onclick="location.href='http://localhost:4200/addServicios'" type="submit">Añadir nuevo servicio</button>

