<div class= navbar >
  
    <div class= cabecera >
      <img class="vet" src="https://cdn.euroinnova.edu.es/img/subidasEditor/fotolia_39639815_subscription_monthly_m-1611921719.webp">
      <img class="log" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ177lGASPYR82H3Vr_jlNTR59v1NscUYjCHhT2ysA6hrV4hgBFNaeOHxA1C5D5CUlB8Es&usqp=CAU">
    </div>
  
   
    <ul class= menuhorizontal >
      <li><a href="#">Calendario</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Inventario</a></li>
      <li><a href="#">Facturas</a></li>
      <li><a href="#">Historiales</a></li>
      <li><a href="#">Clientes</a></li>
    </ul>
</div>
<br>