<header>
  <div class= navbar >
    
      <div class= cabecera >
        <img class="vet" src="https://cdn.euroinnova.edu.es/img/subidasEditor/fotolia_39639815_subscription_monthly_m-1611921719.webp">
        <img class = "log" src="assets/count.png">
      </div>
    
    
      <ul class= menuhorizontal >
        <li><a href="#">Calendario</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="http://localhost:4200/inventario">Inventario</a></li>
        <li><a href="#">Facturas</a></li>
        <li><a href="#">Historiales</a></li>
        <li><a href="#">Clientes</a></li>
      </ul>
  </div>
  <br>
</header>