

<div class="container">


    <div class="area1">

        <div class="foto">

        </div>

        <div class="navegación">

        </div>

        <div class="cuenta">
            <a style="margin-left: 85%; margin-top: 10px;" href="">
                <img src="assets/count.png" width="40px" height="40px" alt="">
            </a>
        </div>

    </div>

    <div class="area2">
        <a name = "calendario" href="">CALENDARIO</a>
        <a name = "servicios" href="">SERVICIOS</a>
        <a name = "inventario" href="./inventarioClinica">INVENTARIO</a>
        <a name = "facturas" href="">FACTURAS</a>
        <a name = "historiales" href="./historia">HISTORIALES</a>
        <a name = "empleados" href="./empleados">EMPLEADOS</a>
    </div>


</div>