<app-nav></app-nav>
<form method="post">
    <p class =  titulo> Formulario de Historia Médica </p>

    <section class = recuadro>
            <div class = NumHistorial>
                <p class = texto>Nº Historial:</p>
                <input
                class = recuadro1
                type="string"
                [(ngModel)]="historyIdd"
                name="historyIdd"
                required="required"
                />
            </div>

            <div class = Descripcion>
                <p class = texto>Descripción:</p>
                <textarea 
                autocorrect = "on"
                spellcheck="true"
                class = recuadro4
                type="text"
                [(ngModel)]="treatment"
                name="treatment"
                required="required"
                resize= none>

                </textarea>
                        
                <button class = botonAceptar  (click)="aceptar()">Aceptar</button>
                <button class = botonCancelar onclick="location.href='http://localhost:4200/historial'" type="submit">Cancelar</button>
            </div>

        

    </section>
    

    </form>
