<body class = AH>

    <p class =  titulo> Formulario de Historia Médica </p>
    <section class = recuadro>
            <div class = NumHistorial>
                <p class = texto>Nº Historial</p>
                <input class = recuadro1>
            </div>

            <div class = Fecha>
                <p class = texto>Fecha:</p>
                <input class = recuadro2>
            </div>

            <div class = IDAnimal>
                <p class = texto>Identificador del Animal:</p>
                <input class = recuadro3>
            </div>

            <div class = Descripcion>
                <p class = texto>Descripción:</p>
                <input class = recuadro4>
            </div>

            <div class = Tratamiento>
                <p class = texto>Tratamiento:</p>
                <input class = recuadro5>
            </div>

            <div class = Observaciones>
                <p class = texto>Observaciones:</p>
                <input class = recuadro6>
            </div>

            <div class = AtendidoPor>
                <p class = texto>Atendido por: Ylenia</p>
            </div>


    </section>

    <input class = botonAceptar type = submit value = Aceptar>
    <input class = botonCancelar type = submit value = Cancelar>



</body>
