<app-nav></app-nav>

<div class = parteSuperior>

    <p class = titulo> Animales de la clínica</p>

    <form class="formBuscar" [formGroup]="buscador">
        <label for="buscador">Buscador: </label>
        <input type="text" class="buscador" id="buscador" formControlName="buscar" 
        (change)="filtrar($event)">
    </form>

</div>

<a [routerLink]="['/fichaAnimal', animal.id]" class = recuadroAnimal *ngFor="let animal of animales">

    <div class=container>
        
        <div class="dni">
            <p class = textoFomr> Dni del dueño: </p>
            <div class = recuadroForm> 
                <td  class = info> &nbsp; {{animal.ownerId}} </td>
            </div>
        </div>

        <div class="nombreAnimal">
            <p class = textoFomr> Nombre del animal: </p>
            <div class = recuadroForm>
                <td  class = info> &nbsp; {{animal.name}} </td>
            </div>
        </div>

        <div class="generoAnimalh">
            <p class = textoFomr> Género del animal: </p>
            <div class = recuadroForm>
                <td  class = info> &nbsp; {{animal.gender}} </td>
            </div>
        </div>

        <div class="tipoAnimal">
            <p class = textoFomr> Tipo de animal: </p>
            <div class = recuadroForm>
                <td  class = info> &nbsp; {{animal.animalType}} </td>
            </div>
        </div>

        <div class="edadAnimal">
            <p class = textoFomr> Edad del animal: </p>

            <div class = recuadroForm>
                <td  class = info> &nbsp; {{animal.age}} año/s </td>
            </div>
        </div>

        <div class="nombreProp">
            <p class = textoFomr> Nombre Dueño: </p>

            <div class = recuadroForm>
                <td  class = info> &nbsp; {{animal.ownerName}} </td>
            </div>

        </div>

  </div>

</a>