
.container {  
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "dni nombreProp"
      "nombreAnimal generoAnimalh"
      "tipoAnimal edadAnimal";

    box-sizing: border-box;
    border-radius: 15px;
    width: 1100px;
    height: 215px;
      
    background: #c2fbc9;
    border: 2px solid #000000;

    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .nombreProp{
    margin-left: 50px;
    width: 420px;
    grid-area: nombreProp; 
  }


  .buscador {
    width: 400px;
    height: 35px;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #8DF2B0;
    border-radius: 10px;
    margin: auto;
    margin-left: 20px;
}
.formBuscar {
    margin: auto;
}

label{
    font-size: 30px;
    font-style: normal;
    margin: auto;
    margin-left: 180px;
}  

  .dni { 
      margin-left: 60px;
      width: 420px;
      grid-area: dni; 
    }

  .nombreAnimal { 
      width: 420px;
      margin-left: 60px;
      grid-area: nombreAnimal; 
    }
  
  .generoAnimalh { 
      width: 420px;
      margin-left: 50px;
      grid-area: generoAnimalh; 
    }
  
  .tipoAnimal { 
      width: 420px;
      margin-left: 60px;
      grid-area: tipoAnimal; 
    }
  
  .edadAnimal {   
      width: 420px;
      margin-left: 50px;
      grid-area: edadAnimal;
    }

.parteSuperior{
    margin: 0 auto;
    margin-top: 50px;
    width: 1200px;
    height: 110px;

}

.titulo{
    margin: auto;
    width: 348px;
    height: 32px;
    margin-left: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
  

    color: #000000;
    float: left;
}

.buscadorContenedor{
    width: 450px;
    float: left;
    margin-left: 20px;
}

.textoBucador{
    width: 67px;
    height: 23px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    margin-left: 16px;

    color: #000000;
    float:left;
}


.recuadroAnimal{
    width: 1366px;
    height: 300px;
    margin: 0 auto;
}

.textoFomr{
    width: 174px;
    height: 28px;
    float: left;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.recuadroForm{
    margin-top: 20px;
    float: right;
    width: 225px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid black;

    background: #FFFFFF;
}

.info{

    font-family: 'Roboto';
    font-style: justify;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;

    color: #000000;

}
