<app-nav></app-nav>
<p class = titulo> Añadir nueva factura</p>


<div class="container">

    <div class="Tipo-servicio">
        <p class = texto>Tipo de servicio:</p>
        <input 
            class = recuadroForm
            type="text"
            [(ngModel)]="billType"
            name="tipoFactura"
            required="required"          
        />
    </div>

    <div class="Animal">
        <p class = texto>Tipo de animal:</p>
        <input 
            class = recuadroForm
            type="text"
            [(ngModel)]="animalType"
            name="animal"
            required="required"          
        />
    </div>

    <div class="NombreAnimal">
        <p class = texto>Nombre del animal:</p>
        <input 
            class = recuadroForm
            type="text"
            [(ngModel)]="animalName"
            name="nameAnimal"
            required="required"          
        />
    </div>

    <div class="IdAnimal">
        <p class = texto>Id del animal:</p>
        <input 
            class = recuadroForm
            type="text"
            [(ngModel)]="idAnimal"
            name="idAnimal"
            required="required"          
        />
    </div>

    <div class="Descripcion">
        <p class = texto>Descripción:</p>
        <textarea
        class = recuadoDesc
        type="text"
        [(ngModel)]="description"
        name="descripcion"
        required="required" > 
                
        </textarea> 
    </div>
    
    <div class="Precio">
        <p class = texto>Precio:</p>
        <input 
            class = recuadroForm
            type="text"
            [(ngModel)]="cost"
            required="required"          
        />
        
    </div>

  </div>

  
  <button class = boton (click)="addFactura()">Aceptar</button>



  