<h1 class= titulo >Añadir un producto</h1>

<div class= block >
    <div class= left >
        <div class = Nombre>
            <p class = texto>Nombre</p>
            <input class = recuadro1>
        </div>

        <div class = Descripción>
            <p class = texto>Descripción</p>
            <input class = recuadro2>
        </div>

        <div class= preciocant>
            <div class = Precio>
                <p class = texto>Precio</p>
                <input class = recuadro3>
            </div>

            <div class = Cantidad>
                <p class = texto>Cantidad</p>
                <input class = recuadro3>
            </div>
        </div>

    </div>
    <div class= right>
        <div class = Imagenes>
            <p class = texto>Insertar Imagen</p>
            <div class= fondoinsert >
                <div class= insertar >
                    <p>SUBIR</p>
                </div>
            </div>

        </div>
    </div>
</div>
