.titulo {
    width: 85%;
    text-align: left;
    margin-left: 12%;
    margin-top: 30px;
}

.block {
    
    width: 40%;
    height: 400px;

    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
    background-color: #97ffb9;
    
}

.right{
    width: 47%;
    height: 500px;

    float: right;
}
.texto{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.nombre{
    margin-top: -20px;
}
#insertar{
    background-color: rgb(255, 255, 255);
    border-color: rgb(134, 26, 26);
    
    width: 50%;
    height: 50%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    
    position: relative;
    display: flex;
    float: center;
    align-items: center;
    justify-content: center;

    
   
}
/*Texto*/
#ptext {
    text-align: center;
    color: black;
    position: absolute;
    
    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
/*Bton Enviar*/
#file {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
#fondoinsert{
    background-color: #C4C4C4;
    border-color: black;
    height: 250px;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;

    padding: 60PX;
}


.left{
    width: 80%;
    height: 400px;
    
    margin:0 auto;

}

.recuadro1{
    background-color: #C4C4C4;
    border-color: rgb(241, 239, 239);

    width: 97%;
    height: 25px;
}

.descripcion{
    margin-top: 10px;
}

.recuadro2{
    background-color: #C4C4C4;
    border-color: rgb(241, 239, 239);

    width: 97%;
    height: 100px;

    resize: none;
    border-color: grey;
}

.precio {
    width: 45%;

    margin-top: 10px;

    float: left;
    
}

.cantidad {
    width: 45%;

    margin-top: 10px;
    margin-left: 5%;
    
    float: right;
    
}
.recuadro3{
    background-color: #C4C4C4;
    border-color: rgb(241, 239, 239);

    width: 93%;
    height: 25px;

    text-align: right;
}

.boton {
    width: 128px;
    height: 30px;

    margin-left:62%;
    margin-top: 30px;
    
    
    background: #8DF2B0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}