

#contenedor1 {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "area1"; 

    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 100px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.area1 {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."
      "boton boton"; 
    justify-content: center; 
    grid-area: area1; 
}


.campos {

    width: 360px;
    height: 25px;
    margin: auto;
    background: #FFFFFF;
    box-sizing: border-box;
    margin-bottom: 30px;
}


h2 {

    margin-left: 50px;
    font-weight: 500px;

}

#contenedor3 {


    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 0.3fr 1.7fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "."
    "area2"; 

    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 100px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;



}

.area2 {

    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
    grid-area: area2; 

  }



.titulo {

    position: relative;
    top: 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

}

.cuadro {

    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        "."
        "boton"; 
    width: 326px;
    height: 300px;
    
    margin: auto;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;

}


h3 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: auto;

    
}


.boton {

    grid-area: boton;
    width: 190px;
    height: 33px;

    background: #8DF2B0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    margin: auto;
}





.contenedor {

    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.6fr 1.2fr 1.2fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "titulo2 titulo2"
        "numero numero"
        "caducidad cvv"
        "nombre nombre"; 


    width: 869px;
    height: 40%;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
}


.titulo2 { grid-area: titulo2; 
}
.numero { 
    grid-area: numero; 
    margin: auto;
}
.nombre { 
    grid-area: nombre; 
    margin: auto;
}

.caducidad { 
    grid-area: caducidad; 
    margin: auto;
    margin-left:228px;
}
.cvv { 
    grid-area: cvv; 
    margin: auto;
    margin-right:230px;
}


.campos1 {

    width: 400px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 22px;

}


.campos2 { 

    width: 200px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 22px;

}

h2 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    color: #000000;
    margin-left: 50px;
}












