
<app-header-software></app-header-software>

<div id = "contenedor1">

    <h2 class = "titulo">Credenciales - Crear Cuenta</h2>


    <form action="" class="area1">

        <input class="campos" type="email" [(ngModel)]="email" placeholder="Correo Electrónico">
        <input class="campos" type="email" placeholder="Confirmar Correo Electrónico">
        <input class="campos" type="password" [(ngModel)]="password" placeholder="Contraseña">
        <input class="campos" type="password" placeholder="Confirmar Contraseña">
        
    </form>

</div>

<div>
    <app-pagar></app-pagar>
</div>


<div id = "contenedor2">

    <h2 class = "titulo">Tipo de suscripción</h2>

    <div class="area2">
        <div class="cuadro">
            <h3>
                Suscripción Mensual
            </h3>

            <h3>
                50 € / mes
            </h3>

            <input class="boton" type="submit" value="Suscribirse"  >
        </div>

        <div class="cuadro">
            <h3>
                Suscripción Anual
            </h3>

            <h3>
                340 € / año
            </h3>
            
            <input class="boton" type="submit" value="Suscribirse">
        </div>
    </div>

</div>

