

#titulo {

    position: relative;
    top: 350px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin: auto;
    text-align: center;
    line-height: 84px;
    
    color: #000000;

}

h1 {

    left: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 10px;
    text-align: justify;
    margin-left: 20px;
    color: #000000;

}


body {

    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.6fr 1fr 1fr 1fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "a1"
        "a2"
        "a3"
        "a4" 
        "a5"; 
}


.a1 { 
    grid-area: a1; 
    height: 509px;
    width: 100%;
    height: 509px;
    left: 0px;
    top: 87px;
    image-rendering: auto;
    background-image: url(http://www.diarioveterinario.com/images/showid/2807329);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    

}
    



.a2 {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "texto1 foto1"; 
  grid-area: a2; 
  margin: auto;
}

.texto1 { 
    grid-area: texto1; 
    margin: auto;
    width: 400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
    padding: 100px;
    
}


.foto1 { 
    grid-area: foto1;
    width: 521px;
    height: 541px;
    border: 1px solid black;
    margin: auto;
    border-radius: 313px;
}


.a3 {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "foto2 texto2"; 
  grid-area: a3; 
  margin: auto;


}

h2 {

    font-size: bold;
    text-align: center;

}

.foto2 { 
    grid-area: foto2; 
    width: 521px;
    height: 541px;
    border: 1px solid black;
    margin: auto;
    border-radius: 313px;
}

.texto2 { 
    grid-area: texto2; 
    margin: auto;
    width: 400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
    padding: 100px;

}


.a4 {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px;  
    grid-area: a4; 
    grid-template-areas: 
    "texto3 foto3";  
    margin: auto;

}


.texto3 {
    grid-area: texto3; 
    margin: auto;
    width: 400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
    padding: 100px;
}

.foto3 {
    grid-area: foto3;
    width: 521px;
    height: 541px;
    border: 1px solid black;
    border-radius: 313px;
    margin: auto;
}

.a5 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."; 
    grid-area: a5; 
    margin: auto;
    
}


#boton {
    margin: auto;
    width: 200px;
    height: 35px;
    background-color: #79FFA7;
    border-radius: 20px;
    font-size: large;
    text-decoration: none;
    text-align: center;
    color: #000000;
}


h4 {

    margin-top: 7px;
}

footer {

    display: grid; 
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . redes"; 
    width: 100%;
    height: 50px;
    margin-bottom: -1px;
    margin: auto;
    background: #8DF2B0;
    border: 1px solid #000000;
    

}


.redes {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."; 
    grid-area: redes; 
    margin: auto;
    margin-right: 30px;
    margin-top: 10px;
}

.img_redes {

    margin: auto;
    margin-left: 50px;

}




a {
    margin: auto;
    color: black;
    text-decoration: none;
}