
<header>
    <h1>WEVBET</h1>
    <form style="margin: auto; margin-right: 30px;" action="">
        <img src="assets/count.png" width="40px" height="40px" alt="">
        
    </form>
    
    
    

</header>



<body>
    
    <section class="a1">
        <div id = titulo>
            BIENVENIDOS A NUESTRA PÁGINA WEB
        </div>
    </section>



    <section class="a2">

        <div class="texto1">

            <h2> ¿ QUIENES SOMOS ? </h2>

            Free Fire es el último juego de sobrevivencia disponible en dispositivos móviles. 
            Cada juego de 10 minutos te pondrá en una isla remota con otros 49 jugadores buscando sobrevivir. 
            Los jugadores podrán elegir con libertad su punto de partida usando su paracaídas y deberán mantenerse en la zona segura el mayor tiempo posible. 
            Podrán conducir vehículos para explorar el mapa, crear estrategias para esconderse o usar objetos para camuflajearse. 
            Embosca y apunta, sólo hay un
        </div>

        <img class = "foto1" src="assets/home1.jpeg" alt="VETERINARIO">


    </section>



    <section class="a3">


        <img class = "foto2" src="assets/home2.jpeg" alt="VETERINARIO">

        <div class="texto2">

            <h2> ¿ QUE OFRECEMOS ? </h2>

            Free Fire es el último juego de sobrevivencia disponible en dispositivos móviles. 
            Cada juego de 10 minutos te pondrá en una isla remota con otros 49 jugadores buscando sobrevivir. 
            Los jugadores podrán elegir con libertad su punto de partida usando su paracaídas y deberán mantenerse en la zona segura el mayor tiempo posible. 
            Podrán conducir vehículos para explorar el mapa, crear estrategias para esconderse o usar objetos para camuflajearse.
             Embosca y apunta, sólo hay uns dwlkdmwk
        </div>

        


    </section>


    <section class="a4">
        <div class="form">

            <div class="texto3">
                <h2> ¿ TIENES DUDAS ? </h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque elit at vestibulum gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sit amet finibus lacus. Aenean sit amet ante urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin ullamcorper sapien vel ligula hendrerit ullamcorper.
            </div>

            <img class="foto3" src="assets/home3.png" alt="imagen">

        </div>

        <form style="margin: auto;" action="">
            <input id = boton type="submit" value="CONTACTAR">
        </form>
    </section>


    <footer>
        <div style="margin: auto;">
            © 2022 WetVet™. Todos los derechos reservados.
        </div>

        
        <a href="">Privacidad</a>   
        <a href="">Condiciones</a>
    

        <div class="redes">
            <a href="http://instagram.com">
                <img class="img_redes" src="assets/instagram.png" 
                alt="" width="30" height="30">
            </a>
            
            <a href="https://es-es.facebook.com">
                <img class="img_redes" src="assets/facebook.png" 
                alt="" width="30" height="30">
            </a>

            <a href="https://twitter.com">
                <img class="img_redes" src="assets/twitter.png" 
                alt="" width="30" height="30">
            </a>

        </div>
        
    </footer>

</body>