
<app-header-software></app-header-software>

<body>
    
    <section class="a1">
        <div id = titulo>
            TODO LO QUE TE GUSTA DE TU SOFTWARE VETERINARIO Y MÁS !
        </div>
    </section>



    <section class="a2">

        <div class="texto1">

            <h2> ¿ QUIENES SOMOS ? </h2>

            WetVet™ es un software de gestión de consultas veterinarias fácil de usar que ayuda a los 
            usuarios a ahorrar tiempo y a centrarse en lo que más importa: cuidar de sus pacientes y 
            hacer crecer su negocio.
        </div>

        <img class = "foto1" src="assets/home1.jpeg" alt="VETERINARIO">


    </section>



    <section class="a3">


        <img class = "foto2" src="assets/home2.jpeg" alt="VETERINARIO">

        <div class="texto2">

            <h2> ¿ QUE OFRECEMOS ? </h2>

            WebVet forma parte de todo un ecosistema de gestión veterinaria. Un conjunto de servicios y funcionalidades que están siempre en continua evolución con el sector veterinario.
            Nuestro crecimiento se basa en que tu centro veterinario es la base y el motor de desarrollo de todas nuestras aplicaciones.
        </div>

        


    </section>


    <section class="a4">
        

            <div class="texto3">
                <h2> ¿ TIENES DUDAS ? </h2>
                En caso de tener cualquier tipo de dudas, no te quedes con ellas! 
                <br><br>
                Nuestro amplio equipo de atención al cliente estará encantado de 
                resolver todas las cuestiones que le preocupen, además le recordamos que dispone de un periodo de prueba para decidir si le gusta nuestro producto.

            </div>

            <img class="foto3" src="assets/home3.png" alt="imagen">            

    </section>

    <section class="a5">
        <a id = boton href="./contactar"> <h4>CONTACTAR</h4> </a>
    </section>
</body>


<footer>
    <div style="margin: auto;">
        © 2022 WetVet™. Todos los derechos reservados.
    </div>

    
    <a href="./politica-y-privacidad">Privacidad</a>   
    <a href="./condiciones">Condiciones</a>


    <div class="redes">
        <a href="http://instagram.com">
            <img class="img_redes" src="assets/instagram.png" 
            alt="" width="30" height="30">
        </a>
        
        <a href="https://es-es.facebook.com">
            <img class="img_redes" src="assets/facebook.png" 
            alt="" width="30" height="30">
        </a>

        <a href="https://twitter.com">
            <img class="img_redes" src="assets/twitter.png" 
            alt="" width="30" height="30">
        </a>

    </div>
    
</footer>