<app-nav></app-nav>

<div class="container1">

    <div class="area1">
        <p class = titulo>Todos los productos:</p>

        <form class="formBuscar" [formGroup]="buscador">
            <label for="buscador">Buscador: </label>
            <input type="text" class="buscador" id="buscador" formControlName="buscar" 
            (change)="filtrar($event)">
        </form>
        <button class = botonModificar onclick="location.href='http://localhost:4200/addproduct'" type="submit">Añadir producto</button>
    </div>


    <div class="area2" *ngFor="let producto of inventario; let i = index">

        <div class="container2" >

            <div class="image">
                <img class = recuadroImagen src="https://i.blogs.es/e32e91/trucos-enfocar-fotografia-paisaje-01/1366_2000.jpg" alt = "">
            </div>
            <div class="Nombre">
                <p class = nombreProduto>{{producto.name}}</p>
            </div>
            <div class="Descripcion">
                <p class = textoDesc>{{producto.description}}
                </p>
            </div>
            <div class="cantidad">
                <!--img class = masMenos src="https://i.blogs.es/e32e91/trucos-enfocar-fotografia-paisaje-01/1366_2000.jpg" alt = ""-->
        
                <p class = cantidadText>Cantidad Disponible: {{producto.units}}</p>
        
                <!--img class = masMenos src="https://i.blogs.es/e32e91/trucos-enfocar-fotografia-paisaje-01/1366_2000.jpg" alt = ""-->
            </div>
            <div class="Precio">
                <p class = precioText>Precio: {{producto.price}}€</p>
            </div>
        
          </div>
        
          <button class = botonModificar onclick="location.href='http://localhost:4200/modproduct'" type="submit">Modificar</button>
        
          <button class = botonEliminar onclick="location.href='http://localhost:4200/inventarioClinica'" type="submit">Eliminar</button>
        
        </div>

    </div>

