<p class = titulo>Todos los Productos:</p>

<div>
    <p class = textoBuscador>Buscar Producto</p>
    <div class = buscador></div>
</div>


<div class="container">

    <div class="image">
        <img class = recuadroImagen src="https://i.blogs.es/e32e91/trucos-enfocar-fotografia-paisaje-01/1366_2000.jpg" alt = "">
    </div>
    <div class="Nombre">
        <p class = nombreProduto>Nombre Producto</p>
    </div>
    <div class="Descripcion">
        <p class = textoDesc>Esto es una descripcion de ejemplo Esto es una descripcion de ejemplo Esto es una descripcion de ejemplo Esto
            Esto es una descripcion de ejemplo Esto es una descripcion de ejemplo Esto es una descripcion de ejemplo
        </p>
    </div>
    <div class="cantidad">
        <img class = masMenos src="https://i.blogs.es/e32e91/trucos-enfocar-fotografia-paisaje-01/1366_2000.jpg" alt = "">

        <p class = cantidadText>Cantidad Disponible: 20</p>

        <img class = masMenos src="https://i.blogs.es/e32e91/trucos-enfocar-fotografia-paisaje-01/1366_2000.jpg" alt = "">
    </div>
    <div class="Precio">
        <p class = precioText>Precio: 79€</p>
    </div>

  </div>

  <button class = botonesMod onclick="location.href='http://localhost:4200/'" type="submit">Modificar</button>

  <button class = botonesCanc onclick="location.href='http://localhost:4200/'" type="submit">Eliminar</button>