<app-nav></app-nav>



<body class = AE>
    <section class = RecuadroPrincipal>

        <p class = Info-Empleado>Información Empleado</p>

        <div class = RecuadroImagen>

            <div class = recuadroImagen2>
                <div class = recuadroImg></div>
                <p class = texto1>Nombre</p>
            </div>
        </div>
        <div class = Nombre>
            <p class = texto>Nombre</p>
            <input class = recuadro1>
        </div>

        <div class = Apellidos>
            <p class = texto>Apellidos</p>
            <input class = recuadro1>
        </div>

        <div class = RecuadroImagen>
            <div class = recuadroImagen>
                <p class = texto></p>
            </div>
        </div>

        <div class = Funcion-Principal>
            <p class = texto>Función Principal</p>
            <input class = recuadro1>
        </div>

        <div class = Telefono>
            <p class = texto>Teléfono</p>
            <input class = recuadro1>
        </div>

        <div class = calle>
            <p class = texto>Calle</p>
            <input class = recuadro1>
        </div>

        <div class = ciudad>
            <p class = texto>Ciudad</p>
            <input class = recuadro1>
        </div>

        <div class = cp>
            <p class = texto>CP</p>
            <input class = recuadro1>
        </div>

        <div class = Provincia>
            <p class = texto>Provincia</p>
            <input class = recuadro1>
        </div>

        <div class = DNI>
            <p class = texto>DNI</p>
            <input class = recuadro1>
        </div>



    </section>

    <section class = RecuadroSecundario>

            <p class="Credenciales"> Credenciales </p>

            <div class="Correo">
                <p class = texto2> Correo Electrónico</p>
                <input class = recuadroForm>
            </div>
            <div class="Contraseña1">
                <p class = texto2> Confirmar Contraseña</p>
                <input class = recuadroForm>
            </div>
            <div class="ConfirmarCorreo">
                <p class = texto2> Confirmar Correo Electrónico</p>
                <input class = recuadroForm>
            </div>
            <div class="Confirmar-Contraseña">
                <p class = texto2> Confirmar Contraseña</p>
                <input class = recuadroForm>
            </div>
            <div class="Boton-modificar">
                <input class = botonModificar type = submit value = "Añadir">
            </div>

    </section>


</body>