<app-nav></app-nav>

    <form class = RecuadroSecundario>

            <p class="Credenciales"> Credenciales </p>

            <div class="Correo">
                <p class = texto2> Correo Electrónico</p>

                <input 
                class = recuadroForm 
                [(ngModel)]="email"
                name="correo"
                required="required"
                type="string"
                >

            </div>
            <div class="Contraseña1">
                <p class = texto2> Confirmar Contraseña</p>
                <input 
                class = recuadroForm 
                [(ngModel)]="password"
                name="password"
                required="required"
                type="password"
                >

            </div>
            <div class="ConfirmarCorreo">
                <p class = texto2> Confirmar Correo Electrónico</p>
                <input 
                class = recuadroForm 
                [(ngModel)]="repeatedEmail"
                name="Confcorreo"
                required="required"
                type="string"
                >
            </div>
            <div class="Confirmar-Contraseña">
                <p class = texto2> Confirmar Contraseña</p>
                <input 
                    class = recuadroForm 
                    [(ngModel)]="repeatedPassword"
                    name="Confpassword"
                    required="required"
                    type="password"
                >
            </div>
            <div class="Boton-modificar">
                <button class = botonModificar (click)="addEmpleado()">Añadir</button>
            </div>

        </form>