<body class = HM>

    <div>

        <p class = "tituloHM"> Historial de historias médicas</p>

        <input type="submit" class = botonAñadir value = "Añadir Historial">
    </div>

    <section class = sectionHM>

        <div class = recuadroHM>
            
            <div class = NumHistorial Style = "font-style: bold;">Número del historial: 9012</div>
            <div class = TipoAnimal>Animal: Perro</div>
            <div class = NombreAnimal>Nombre del animal: Nadal</div>
            <div class = Id-animal>Id del animal: 123</div>
            <div class = Descripcion>Descripción:</div>
            <div class = Texto-Descripcion>Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.</div>
        </div>

        <input type=button class = botonModificar value = Modificar>

        <input type=button class = botonEliminar value = Eliminar>

        <div class = recuadroHM>
            
            <div class = NumHistorial Style = "font-style: bold;">Número del historial: 9012</div>
            <div class = TipoAnimal>Animal: Perro</div>
            <div class = NombreAnimal>Nombre del animal: Nadal</div>
            <div class = Id-animal>Id del animal: 123</div>
            <div class = Descripcion>Descripción:</div>
            <div class = Texto-Descripcion>Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.</div>
        </div>

        <input type=button class = botonModificar value = Modificar>

        <input type=button class = botonEliminar value = Eliminar>

        <div class = recuadroHM>
            
            <div class = NumHistorial Style = "font-style: bold;">Número del historial: 9012</div>
            <div class = TipoAnimal>Animal: Perro</div>
            <div class = NombreAnimal>Nombre del animal: Nadal</div>
            <div class = Id-animal>Id del animal: 123</div>
            <div class = Descripcion>Descripción:</div>
            <div class = Texto-Descripcion>Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.Esto es un texto de ejemplo para ver el
                como queda en el html.</div>
        </div>

        <input type=button class = botonModificar value = Modificar>

        <input type=button class = botonEliminar value = Eliminar>


    </section>

</body>


