
<form class="contenedor">

    <div class="titulo">
        <h3><b>Método de pago:</b> Tarjeta de crédito/débito</h3>
    </div>
    
    <div class="numero">
        <input type="text" class="campos1" 
        placeholder="   Número de la tarjeta"
        required = "required" [(ngModel)] = "numero">
    </div>

    <div class="caducidad">
        <input type="date" class="campos2" 
        placeholder="   Caducidad" [(ngModel)] = "caducidad">
    </div>
    
    <div class="cvv">
        <input type="text" class="campos2" 
        placeholder="   cvv" [(ngModel)] = "cvv">
    </div>

    <div class="nombre">
        <input type="text" class="campos1" 
        placeholder="   Nombre del titular de la tarjeta"
        [(ngModel)] = "numero">
    </div>


</form>