<body class = AE>
    <section class = RecuadroPrincipal>

        <p class = Info-Empleado>Información Empleado</p>

        <div>
            <p class = texto>Nombre</p>
            <div class = recuadro1></div>
        </div>

        <div class = Nombre>
            <p class = texto>Apellidos</p>
            <div class = recuadro1></div>
        </div>

        <div class = RecuadroImagen>
            <div class = recuadroImagen>
                <p class = texto></p>
            </div>
        </div>

        <div class = Funcion-Principal>
            <p class = texto>Función Principal</p>
            <div class = recuadro1></div>
        </div>

        <div class = Telefono>
            <p class = texto>Teléfono</p>
            <div class = recuadro1></div>
        </div>

        <div class = calle>
            <p class = texto>Calle</p>
            <div class = recuadro1></div>
        </div>

        <div class = ciudad>
            <p class = texto>Ciudad</p>
            <div class = recuadro1></div>
        </div>

        <div class = cp>
            <p class = texto>CP</p>
            <div class = recuadro1></div>
        </div>

        <div class = Provincia>
            <p class = texto>Provincia</p>
            <div class = recuadro1></div>
        </div>

        <div class = DNI>
            <p class = texto>DNI</p>
            <div class = recuadro1></div>
        </div>



    </section>


</body>