<app-nav></app-nav>


<div class="container">

    <div class="area1">

        <h1>DATOS DEL ANIMAL</h1>

        <form [formGroup] = "formulario" class="formulario">
            
            <label  for="">Dni del dueño:</label>
            <input class="campo" type="text" formControlName="dni">

            <label for="">Nombre del animal:</label>
            <input class="campo" type="text" formControlName="nombre">

            <label for="">Tipo de animal:</label>
            <input class="campo" type="text" formControlName="tipo">

            <label for="">Género del animal</label>
            <input class="campo" type="text" formControlName="genero">

            <label for="">Edad del animal</label>
            <input class="campo" type="text" formControlName="edad">


        </form>

        <div class="botones">
            <button (click)="modificar()" class="botonModificar">Modificar</button>
            <button (click)="eliminar()"  class="botonEliminar">Eliminar</button>
        </div>
    </div>

    <div class="area2">
        
        <h1></h1>
        
        
        <img class="imagen" src="/assets/vet.jpeg" alt="">
        
        <div class="botones">
            <button routerLink="/addhistoria/{{id}}" class="botonHistoria">Añadir Historia</button>
            <button routerLink="/addFactura/{{id}}/{{dni}}" class="botonFactura">Añadir Factura</button>
        </div>
          
        
    </div>

</div>


<div class="container2">
    
        <h3 class="titulo">HISTORIAL MÉDICO:</h3>
    

    <div class="historias">

        <div class="historia" *ngFor="let historia of historias">

        <div class="recuadro">

            <p class="treatment"> <b>Causa:</b>  &nbsp;&nbsp;&nbsp;&nbsp;

                {{historia.cause}}

                <br><br>

                <b>Tratamiento: </b>  &nbsp;&nbsp;&nbsp;&nbsp;

                {{historia.treatment}}
            </p>
        
        </div>

    </div>

    
</div>


<div class="container3">

    <h3 class = titulo>FACTURAS</h3>

    <div class="factura" *ngFor="let factura of facturas">

        <div class="tipoServicio">
            <p class = caracteristicas>Tipo de factura: </p>
            <td  class = info> {{factura.billType}}</td>
        </div>
    
        <div class="tipoAnimal">
            <p class = caracteristicas>Animal: </p>
            <td  class = info>  {{factura.animalType}}</td>
        </div>
    
        <div class="nombreAnimal">
            <p class = caracteristicas>Nombre animal:</p>
            <td  class = info> {{factura.animalName}}</td>
        </div>
    
        <div class="idAnimal">
            <p class = caracteristicas>Dni del cliente:</p>
            <td  class = info> {{factura.dni}} </td>
        </div>
    
        <div class="Descripcion">
            <p class = caracteristicasDesc>Descripcion:</p>
            <td class = infoDesc> {{factura.description}}</td>
        </div>
    
        <div class="Precio">
            <p class = caracteristicas>Precio:</p>
            <td  class = info> {{factura.cost}} €</td>
        </div>
    
    </div>

    

    
</div>