.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "area1 area2"; 
    margin: auto;
    width: 1200px;
}


.area1 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.4fr 1fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."
      "botones"; 
    grid-area: area1; 
    margin: auto;
    margin-top: 60px;
}

h1 {
    margin: auto;
}


.area2 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.4fr 1fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."
      "botones"; 
    grid-area: area2;
    margin: auto;
    margin-top: 60px; 
}

.formulario {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."
        ". ."
        ". ."
        ". ."
        ". ."; 

    font-size: 20px;
    box-sizing: border-box;
    background: #E4FFD7;
    width: 443px;
    height: 408px;
    border: 1px solid #000000;
    border-radius: 17px;
    margin: auto;

}

label {
    margin: auto;
    margin-left: 20px
}

.campo {
    font-size: 20px;
    width: 180px;
    margin: auto;
    margin-bottom: 30px;
    margin-right: 20px;
    height: 20px;
    
}


.botonModificar {
    width: 116px;
    height: 35px;
    margin: auto;
    background: #8DF2B0;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: auto;
    margin-left: 0px;
    cursor: pointer;

}


.botonEliminar {
    width: 116px;
    height: 35px;
    margin: auto;
    background: #8DF2B0;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: auto;
    margin-left: 100px;
    cursor: pointer;

}

.botones {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."; 
    grid-area: botones; 
}

.imagen {
    font-size: 20px;
    box-sizing: border-box;
    background: #E4FFD7;
    width: 443px;
    height: 408px;
    border: 1px solid #000000;
    border-radius: 17px;
    margin: auto;
}

.botonHistoria {
    width: 116px;
    height: 35px;
    margin: auto;
    background: #8DF2B0;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: auto;
    margin-left: 0px;
    cursor: pointer;

}

.botonFactura {
    width: 116px;
    height: 35px;
    margin: auto;
    background: #8DF2B0;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: auto;
    margin-right: 0px;
    cursor: pointer;
}


.contanier2 {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "titulo"
      "historias";
    margin: auto;
    width: 1200px;
}


.historias {
    margin: auto;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    grid-area: historias;

}

.contanier3 {

    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "titulo"
      "facturas";
    margin: auto;
    width: 1200px;

}

.factura {  
    display: grid;

    width: 1200px;
    height: 200px;
    background: #F1F1F1;
    grid-template-columns: 0.8fr 0.8fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.8fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tipoServicio tipoServicio nombreAnimal idAnimal"
      "Descripcion Descripcion Descripcion Descripcion"
      "Descripcion Descripcion Descripcion Descripcion"
      ". . . Precio";
    grid-area: container;
    margin: auto;
    border: 1px solid black;
    margin-bottom:50px;
    border-radius: 15px;
    
}

.tipoServicio { 
    grid-area: tipoServicio; 
}

.tipoAnimal { 
    grid-area: tipoAnimal; 
}

.nombreAnimal { 
    grid-area: nombreAnimal; 
}

.idAnimal { 
    grid-area: idAnimal; 
}

.Descripcion { 
    grid-area: Descripcion;
}

.Precio { 
    grid-area: Precio; 
}

.caracteristicasDesc{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;     
    color: #000000;
    margin-left:20px;
}

.caracteristicas{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;     
    color: #000000;
    float:left;
    margin-left:20px;
}

.info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;   
    color: #000000;
    float: right;
    margin-right: 30px;
    margin-top: 18px;
}

.infoDesc{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;   
color: #000000;
padding-left:20px;
}

.titulo{ 
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: auto;
    color: #000000;
    margin: auto;
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 60px;
    
}


.historia {

    grid-area: historia;
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "recuadro"
        "botones"; 
    margin: auto;
    margin-bottom: 50px;

}


.treatment {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin-left:  20px;
}


.recuadro {
    grid-area: recuadro;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    width: 1200px;
    height: 200px;
    background: #F1F1F1;
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;

}



