<app-nav></app-nav>
<form method="post">
    <h1 class= titulo >Modificar un producto del inventario</h1>
    
    <div *ngIf="!submitted" class= block >

        <div class= left >
            <div class = nombre>
                <p for="nombre" class = texto>Nombre:</p>
                <input 
                type="text" 
                class="recuadro1" 
                [(ngModel)]="producto.nombre"
                autocomplete="on"
                required="required">
            </div>
    
            <div for="descripcion" class = descripcion>
                <p class = texto>Descripción:</p>
                <textarea 
                    autocorrect = "on"
                    spellcheck="true"
                    class = recuadro2
                    type="text"
                    [(ngModel)]="producto.descripcion"
                    name="Descripcion"
                    required="required">
                </textarea>
            </div>
    
            <div class= preciocant>
                <div for="precio" class = precio>
                    <p class = texto>Precio:</p>
                    <input 
                    type="number" 
                    class="recuadro3" 
                    [(ngModel)]="producto.precio"
                    autocomplete="on"
                    required="required">
                </div>
    
                <div for="cantidad" class = cantidad>
                    <p class = texto>Cantidad:</p>
                    <input 
                    type="number" 
                    class="recuadro3" 
                    [(ngModel)]="producto.cantidad"
                    autocomplete="on"
                    required="required">
                </div>
            </div>
    
        </div>
    
        <div class= right>
            <p class = texto>Insertar Imagen</p>
            <div id= "fondoinsert">
                <div for="imagen" id= "insertar">    
                    <p id="ptext">Seleccionar archivo</p>
                    <input 
                    type="file"
                    id="file"
                    [(ngModel)]="producto.imagen"
                    accept=".jpg,.png,.jpeg">
                </div>
            </div>
        </div>
    </div>
    <button class = boton onclick="location.href='http://localhost:4200/'" type="submit" (click)="saveProduct()">Guardar</button>
</form>
    