<app-nav></app-nav>


<div>

    <p class = "tituloHM"> Historial de historias médicas</p>

    <input class = botonAñadir onclick="location.href='./addhistoria'" type="submit" value="Añadir Historia">

</div>

<section *ngFor="let historia of historias">

    <div class = recuadroHM >
        
        <div class = NumHistorial>
            Número del historial: 
            <td  class = info> {{historia.history_id}}</td>
        </div>

        <div class = NumHistorial>
            <td > {{historia.createDate}}</td>
        </div>

        <div class = NombreAnimal>
            Fecha: 
            <td  class = info> {{historia.createdAt}}</td>
        </div>
        <div class = Id-animal>
            Id del animal: 
            <td  class = info> {{historia.animal_id}}</td>
        </div>

        <div class = Descripcion>Descripción:</div>
        <div class = Texto-Descripcion>
            <td > {{historia.treatment[3]}}</td>
        </div>
    </div>

    <input type=button class = botonEliminar value = Eliminar>

</section>



