<app-nav></app-nav>


<div>

    <p class = "tituloHM"> Historial de historias médicas</p>

    <input class = botonAñadir onclick="location.href='./addhistoria'" type="submit" value="Añadir Historia">

</div>

<section *ngFor="let historia of historias">

    <div class = recuadroHM *ngFor="let historia of historias">
        
        <div class = NumHistorial>
            Número del historial: 
            <td  class = info> {{historia.numhistorial}}</td>
        </div>

        <div class = NumHistorial>
            Animal:
            <td > {{historia.tipoAnimal}}</td>
        </div>

        <div class = NombreAnimal>
            Fecha: 
            <td  class = info> {{historia.fecha}}</td>
        </div>
        <div class = Id-animal>
            Id del animal: 
            <td  class = info> {{historia.idanimal}}</td>
        </div>

        <div class = Descripcion>Descripción:</div>
        <div class = Texto-Descripcion>
            <td > {{historia.descripcion}}</td>
        </div>
    </div>

    <input type=button class = botonEliminar value = Eliminar>

</section>



