

.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "area1"
        "facturas"; 
        margin: auto;
        margin-top: 70px;
}




.area1 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."; 
    grid-area: area1;
    margin: auto;
}

.formBuscar {
    margin: auto;    
}
  
label{
    font-style: normal;
    font-size: 24px;
}
  
  
.titulo {
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 42px;
    margin: auto;
    color: #000000;
}
  
.buscador {
    width: 400px;
    height: 35px;
  
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #8DF2B0;
    border-radius: 10px;
}




.info{
    float: right;
    font-weight: 500px;
    font-style: normal;

}


.facturas {

    grid-area: facturas;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "recuadro"
        "botones"; 
    margin: auto;

}

p {
    margin: auto;
}


.descripcion {
    grid-area: descripcion;
    margin: auto;
    width: 1150px;
}

.datos {

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . . . . . ."; 
    grid-area: datos; 
    margin: auto;
}

.recuadro {
    grid-area: recuadro;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr 1.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "datos"
        "descripcion"; 
    width: 1200px;
    height: 200px;
    background: #F1F1F1;
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
    grid-area: facturas;

}

.botones {
    grid-area: botones;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
}



.botonAñadir {
    width: 220px;
    height: 37px;
    background: #8DF2B0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
}

.botonModificar{
    width: 100px;
    height: 37px;

    background: #8DF2B0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    margin: auto;
    margin-left: 1px;
    cursor: pointer;
}

.botonEliminar{
    width: 100px;
    height: 37px;

    background: #8DF2B0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    margin: auto;
    margin-right: 1px;
    cursor: pointer;
}
  