<app-nav></app-nav>


<div>

    <p class = "tituloHM"> Historial de historias médicas</p>

    <button class = botonAñadir onclick="location.href='./addhistoria'" type="submit">Añadir Historial</button>

</div>

<section>

    <div class = recuadroHM>
        
        <div class = NumHistorial Style = "font-style: bold;">Número del historial: 9012</div>
        <div class = TipoAnimal>Animal: Perro</div>
        <div class = NombreAnimal>Nombre del animal: Nadal</div>
        <div class = Id-animal>Id del animal: 123</div>
        <div class = Descripcion>Descripción:</div>
        <div class = Texto-Descripcion>Esto es un texto de ejemplo para ver el
            como queda en el html.Esto es un texto de ejemplo para ver el
            como queda en el html.Esto es un texto de ejemplo para ver el
            como queda en el html.Esto es un texto de ejemplo para ver el
            como queda en el html.Esto es un texto de ejemplo para ver el
            como queda en el html.</div>
    </div>

    <button class = botonModificar onclick="location.href='./addhistoria'" type="submit">Modificar</button>

    <input type=button class = botonEliminar value = Eliminar>


</section>



