body.R{
    width: 1366px;
    margin: 0 auto;
    float: center;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background: #8DF2B0;
  margin-left: -20px;
}

.recuadro1 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.13fr 0.25fr 0.25fr 0.25fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Titulo Titulo Titulo"
      "Recuadro Nombre Direccion"
      "Recuadro Telefono Ciudad"
      "Codigo-postal Pais iban"; 

      width: 1116px;
      height: 486px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  
    color: #000000;
    margin: 0 auto;
  }
  .Recuadro { 
    grid-area: Recuadro; 
    width: 260px;
    height: 206px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;

    margin-left: 40px;
    margin-top: 60px;
    }
  .Titulo {
    grid-area: Titulo; 
    width: 179px;
    height: 28px;
    margin-left: 40px;
    font-weight: bold;
    }
  .Nombre { 
    grid-area: Nombre; 
    margin-left: 40px;
    }
  .Direccion { 
      grid-area: Direccion;
      margin-left: 40px;
     }
  .Telefono { 
      grid-area: Telefono;
      margin-left: 40px;
    }
  .Ciudad { 
      grid-area: Ciudad; 
      margin-left: 40px;
    }
  .Codigo-postal { 
      grid-area: Codigo-postal; 
      margin-left: 40px;
    }
  .Pais { 
      grid-area: Pais; 
      margin-left: 40px;
    }
  .iban { 
      grid-area: iban; 
      margin-left: 40px;
    }

.recuadroForm{
    width: 260px;
    height: 25px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.logoRecuadro{
    width: 200px;
    height: 100px;
    margin-left: 70px;
    margin-top: 90px;
}

.logoTitulo{
  margin-top: -36px;
}

.nombreRecuadro{
    width: 100px;
    height: 100px;
    margin-left: 75px;
    margin-top: 95px;
}

.boton{
    margin-left: 545px;
    margin-top: 30px;
    width: 223px;
    height: 44px;

    background: #8DF2B0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
  