body.R{
    width: 1366px;
    margin: 0 auto;
    float: center;
}

.recuadro1 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.13fr 0.25fr 0.25fr 0.25fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Titulo Titulo Titulo"
      "Recuadro Nombre Direccion"
      "Recuadro Telefono Ciudad"
      "Codigo-postal Pais iban"; 

    width: 1337px;
    height: 550px;
    margin-bottom: 100px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  
    color: #000000;
  }
  .Recuadro { 
    grid-area: Recuadro; 
    width: 292px;
    height: 206px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;

    margin-left: 40px;
    margin-top: 30px;
    }
  .Titulo {
    grid-area: Titulo; 
    width: 179px;
    height: 28px;
    margin-left: 40px;
    font-weight: bold;
    }
  .Nombre { 
    grid-area: Nombre; 
    margin-left: 40px;
    }
  .Direccion { 
      grid-area: Direccion;
      margin-left: 40px;
     }
  .Telefono { 
      grid-area: Telefono;
      margin-left: 40px;
    }
  .Ciudad { 
      grid-area: Ciudad; 
      margin-left: 40px;
    }
  .Codigo-postal { 
      grid-area: Codigo-postal; 
      margin-left: 40px;
    }
  .Pais { 
      grid-area: Pais; 
      margin-left: 40px;
    }
  .iban { 
      grid-area: iban; 
      margin-left: 40px;
    }

.recuadroForm{
    width: 360px;
    height: 25px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.logoRecuadro{
    width: 200px;
    height: 100px;
    margin: 80px;
}

.recuadro2 {
    width: 1337px;
    height: 687px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.13fr 0.2fr 0.2fr 0.2fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "InformacionPersonal InformacionPersonal InformacionPersonal"
      "RecuadroNombre Nombre2 Apellidos"
      "RecuadroNombre FuncionPrincipal Telefono2"
      "calle ciudad cp"
      "provincia dni edad"; 
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  
    color: #000000;
  }
  .RecuadroNombre { 
    grid-area: RecuadroNombre; 
    width: 234px;
    height: 238px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;

    margin-left: 100px;
    margin-top: 20px;
    }
  .Nombre2 { 
    grid-area: Nombre2; 
    margin-left: 40px;
    }
  .FuncionPrincipal { 
    grid-area: FuncionPrincipal; 
    margin-left: 40px;
    }
  .Apellidos { 
    grid-area: Apellidos; 
    margin-left: 40px;
    }
  .Telefono2 { 
    grid-area: Telefono2; 
    margin-left: 40px;
    }
  .calle { 
    grid-area: calle; 
    margin-left: 40px;
    }
  .ciudad {
    grid-area: ciudad; 
    margin-left: 40px;
    }
  .cp { 
    grid-area: cp; margin-left: 40px;
    }
  .provincia { 
    grid-area: provincia; 
    margin-left: 40px;
    }
  .dni { 
    grid-area: dni; 
    margin-left: 40px;
    }
  .edad { 
    grid-area: edad; 
    margin-left: 40px;
    }
  .InformacionPersonal { 
    grid-area: InformacionPersonal; 
    margin-left: 40px;
    font-weight: bold;
    }

.nombreRecuadro{
    width: 100px;
    height: 100px;
    margin-left: 75px;
    margin-top: 95px;
}

.boton{
    margin-left: 500px;
    margin-top: 50px;
    width: 323px;
    height: 64px;

    background: #8DF2B0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
  