    <form class="recuadro1">
        <div class="Recuadro">
            <p class = logoTitulo>Logo empresa</p>
            <p class = logoRecuadro>
                <label class="custom-file-upload">
                    <input type="file"
                    [(ngModel)]="image" 
                    type="file" 
                    name="image"
                    accept="image/*"
                    />
                    Subir Archivo
                </label>

            </p>
        </div>
        <div class="Titulo">
            <p>Datos del centro:</p>
        </div>

        <div class="Nombre">
            <p>Nombre del centro:</p>

            <input 
            class = recuadroForm
            type="text"
            [(ngModel)]="nombre"
            name="nombre"
            required="required"          
            />

        </div>
        <div class="Direccion">
            <p>Direccion:</p>
            <input 
            class = recuadroForm
            type="text"
            [(ngModel)]="direccion"
            name="direccion"
            required="required"          
            />
        </div>
        <div class="Telefono">
            <p>Teléfono:</p>
            <input 
            class = recuadroForm
            type="number"
            [(ngModel)]="telefono"
            name="telefono"
            required="required"          
            />
        </div>
        <div class="Ciudad">
            <p>Ciudad:</p>
            <input 
            class = recuadroForm
            type="text"
            [(ngModel)]="ciudad"
            name="ciudad"
            required="required"          
            />
        </div>
        <div class="Codigo-postal">
            <p>Código postal:</p>
            <input 
            class = recuadroForm
            type="number"
            [(ngModel)]="codigoPostal"
            name="codigoPostal"
            required="required"          
            />
        </div>
        <div class="Pais">
            <p>País:</p>
            <input 
            class = recuadroForm
            type="text"
            [(ngModel)]="pais"
            name="pais"
            required="required"          
            />
        </div>
        <div class="iban">
            <p>IBAN:</p>
            <input 
            class = recuadroForm
            type="text"
            [(ngModel)]="iban"
            name="iban"
            required="required"          
            />
        </div>
      </form>
    
      <button class = boton onclick="location.href='http://localhost:4200/historia'" type="submit" (click)="terminar()">Terminar</button>