<body class = R>

    <section class="recuadro1">
        <div class="Recuadro">
            <p class = logoRecuadro>Logo empresa</p>
        </div>
        <div class="Titulo">
            <p>Datos del centro:</p>
        </div>
        <div class="Nombre">
            <p>Nombre del centro:</p>
            <div class = recuadroForm></div>
        </div>
        <div class="Direccion">
            <p>Direccion:</p>
            <div class = recuadroForm></div>
        </div>
        <div class="Telefono">
            <p>Teléfono:</p>
            <div class = recuadroForm></div>
        </div>
        <div class="Ciudad">
            <p>Ciudad:</p>
            <div class = recuadroForm></div>
        </div>
        <div class="Codigo-postal">
            <p>Código postal:</p>
            <div class = recuadroForm></div>
        </div>
        <div class="Pais">
            <p>País:</p>
            <div class = recuadroForm></div>
        </div>
        <div class="iban">
            <p>IBAN:</p>
            <div class = recuadroForm></div>
        </div>
      </section>

      <section class="recuadro2">
        <div class="RecuadroNombre">
                <p class = nombreRecuadro>Nombre</p>
        </div>
        <div class="Nombre2">
            <p>Nombre</p>
            <div class = recuadroForm></div>
        </div>
        <div class="FuncionPrincipal">
            <p>Apellidos</p>
            <div class = recuadroForm></div>
        </div>
        <div class="Apellidos">
            <p>Función Principal</p>
            <div class = recuadroForm></div>
        </div>
        <div class="Telefono2">
            <p>Teléfono</p>
            <div class = recuadroForm></div>
        </div>
        <div class="calle">
            <p>Calle</p>
            <div class = recuadroForm></div>
        </div>
        <div class="ciudad">
            <p>Ciudad</p>
            <div class = recuadroForm></div>
        </div>
        <div class="cp">
            <p>CP</p>
            <div class = recuadroForm></div>
        </div>
        <div class="provincia">
            <p>Provincia</p>
            <div class = recuadroForm></div>
        </div>
        <div class="dni">
            <p>DNI</p>
            <div class = recuadroForm></div>
        </div>
        <div class="edad">
            <p>Edad</p>
            <div class = recuadroForm></div>
        </div>
        <div class="InformacionPersonal">
            <p>Información Personal</p>
        </div>
      </section>

      <input class = boton value = Terminar type = submit>

</body>