<app-nav></app-nav>
<br>
<div id="body">
    <div id="buscador">
        <p class=negrita>Buscar Producto:</p>
        <input class= simpleline>
    </div>
    <div id="listado">
        <div class=producto *ngFor="let producto of productos; let i = index" >
            <!--<td class=imagen >
                {{producto.imagen}}
            </td>-->
            <div class= informacion>
                <td class=negrita>
                    {{producto.name}}
                </td>
                <td>
                    {{producto.description}}
                </td>
                <button class = boton  onclick="restar()">-</button>
                <p class=bottomline>Cantidad Disponible:</p>  
                <td class=bottomline>
                    {{producto.units}}
                </td>
                <button class = boton onclick="sumar()">+</button>
                <td class=bottomline>
                    {{producto.price}}
                </td>  
            </div>
        </div>
        <!--<script>
            function sumar() {
                valor = document.getElementById("currentModelo");
                if (valor.value < 10)valor.value ++;
            }
        </script>
        <script>
            valor = document.getElementById("currentModelo");
            if (valor.value > 01)valor.value --;
        </script>-->
    </div>
</div>